<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>

    <!--script-->
    <script src="main.js"></script>
    <script src="initFirebase.js"></script>
</head>

<body>
    <h1>Ciao! Capra!</h1>
    <p>In realta' lo stupido e' un altro</p>
<div ng-app="ClassApp" ng-controller="ControllerPrincipale">
    <p>Ciao {{cesare.nome}}!</p>
    <p>In realta' io mi chiamo <input ng-model="cesare.nome"></p>
    <button ng-click="saluto()">Saluta l'utente!</button>
</div>
</body>

</html>